<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "false"
    bootstrap                   = "phpunit_bootstrap.php" >

 	<php>
        <server name="KERNEL_DIR" value="/path/to/app/" />
    </php>
    
    <testsuites>
        <testsuite name="Zechiani DataTableBundle Test Suite">
            <directory>DataTableBundle/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
